doctype xml
feed(xmlns='http://www.w3.org/2005/Atom')
  title= meta.title
  link(href='http://stdout.be/feeds/#{meta.type}.atom', rel='self')
  link(href='http://stdout.be/')
  updated= site.time
  id http://stdout.be/feeds/#{meta.type}.atom
  author
    name Stijn Debrouwere
    email stijn@stdout.be
  - each post in stdout.latest[meta.type]
    entry
      title= post.meta.title
      link(href='http://stdout.be/#{post.hector.permalink}')
      updated= post.meta.date.iso
      id= post.hector.permalink
      - if (post.meta.summary)
        summary= post.meta.summary
      content(type='html')
        - if (post.meta.layout != 'posts' || post.meta.author)
          p
            - if (post.meta.layout != 'posts')
              em Posted in #{post.meta.layout}. 
            - if (post.meta.author)
              em Written by #{post.meta.author}. 
        - if (post.meta.context)
          p: em= post.meta.context
        != post.content