doctype xml
feed(xmlns='http://www.w3.org/2005/Atom')
  title
    | Stijn Debrouwere's blog
    if language
      |  (#{language})
  link(href='http://debrouwere.org/feeds/#{language}.atom', rel='self')
  link(href='http://debrouwere.org/')
  updated= site.date.iso
  id debrouwere.org/feeds/#{language}.atom
  author
    name Stijn Debrouwere
    email stijn@debrouwere.org
  - each post in posts.slice(-10).reverse()
    entry
      title= post.title
      link(href='http://debrouwere.org#{post.permalink}')
      updated= post.date.iso
      id= post.permalink
      - if (post.summary)
        summary= post.summary
      content(type='html')
        - if (post.category != 'posts' || post.author)
          p
            - if (post.category != 'posts')
              em Posted in #{post.category}. 
            - if (post.author)
              em Written by #{post.author}. 
        - if (post.context)
          p
            em= post.context
        != post.html