extends base

mixin twitter
  |  
  a(href='https://twitter.com/#{me.handle}') @#{me.handle}
  |  

mixin link-to-bio(role, name)
  - if (!name) var name = 'Stijn Debrouwere';
  - if (name == 'Stijn Debrouwere') var bio = me.bio[language];
  a(rel=role, href=bio, title=name)= name

block content
  block header
    header
      //- todo: split up titles with colons into h1 and h2
      time(datetime=date.inferred.iso, title=date.inferred.human) 
        | #{date.inferred.a}, #{date.inferred.b} #{date.inferred.day}, #{date.inferred.year}
      h1= title
      address.author
        - if (language == 'nl')
          | geschreven door 
        - else
          | written by 
        +link-to-bio('author', author)
        - if (category == 'translations')
          |  en vertaald door 
          +link-to-bio('translator')

  - if (translation)
    div#article-translation.article-more
      hr
      p
        - if (language == 'en')
          | Vertaald in het Nederlands: 
        - else
          | Translated into English: 
        a(href=translation.link)= translation.title 
      hr

  article(class=category)
    block article
      - if (summary)
        summary#summary!= summary
      - if (context)
        p: em!= context
      != html

    block share
      .article-more
          - if (language == 'en')
            h6 share on twitter
          - else
            h6 delen op twitter
          - var tweet = tweet || title
          p.article-copy-paste
            = tweet
            |  
            a(href='http://debrouwere.org#{shortlink}') debrouwere.org#{shortlink}
            - if (language == 'en')
              |  by 
            - else
              |  door 
            +twitter
          hr
          p
            +link-to-bio('author')
            |  
            - if (language == 'en')
              | writes about computer code and the future of journalism.
              | He used to work at the Guardian and until recently at the Tow Center for Digital Journalism.
              | Stijn is 
              +twitter
              | on Twitter.
            - else
              | werkte vroeger voor de Guardian en tot voor kort bij het Tow Center for Digital Journalism.
              | Deze blog handelt over programmeren en de toekomst van de journalistiek.
              | Stijn is
              +twitter
              | op Twitter.

            - if (related)
              - if (language == 'en')
                | If you liked this, read 
              - else
                | Als je dit leuk vond, lees dan ook 
              a(href=related.link)= related.title
