extends base
block content
  block header
    header
      //- todo: split up titles with colons into h1 and h2
      time(pubdate, datetime=meta.date.calendar, title=meta.date.human)= meta.date.human
      h1= meta.title
      address.author
        - if (meta.language == 'nl')
          | geschreven door 
        - else
          | written by 
        - if (meta.author)
          - if (meta.author.name) { var author = meta.author.name; } else { var author = meta.author; }
          a(rel='author', href=meta.author.homepage, title=author)= author
          - if (meta.layout == 'translations')
            |  en vertaald door 
            a(rel='translator', href='http://stdout.be/en/about-me/', title='Stijn Debrouwere') Stijn Debrouwere
        - else
          a(rel='author', href='http://stdout.be/en/about-me/', title='Stijn Debrouwere') Stijn Debrouwere

  - if (meta.translation)
    div#article-translation.article-more
      hr
      p
        - if (meta.language == 'en')
          | Vertaald in het Nederlands: 
        - else
          | Translated into English: 
        a(href=meta.translation.link)= meta.translation.title 
      hr

  article(class=meta.layout)
    block article
      - if (meta.summary)
        summary#summary!= meta.summary
      - if (meta.context)
        p: em!= meta.context
      != content

    block share
      .article-more
        - if (meta.language == 'en')      
          h6 share on twitter
          - var tweet = meta.tweet || meta.title
          p.article-copy-paste #{tweet} !{stdout.shortlink.human} by !{stdout.me.twitter}
          hr
          p
            | <a href="/en/about-me/">Stijn Debrouwere</a> works at The Guardian in London. This blog is about computer code and the future of journalism. Stijn is !{stdout.me.twitter} on Twitter.
            - if (meta.related)
              | If you liked this, read 
              a(href=meta.related.link)= meta.related.title
              |  next.
        - else
          h6 delen op twitter
          - var tweet = meta.tweet || meta.title
          - var me = 
          p.article-copy-paste #{tweet} !{stdout.shortlink.human} door !{stdout.me.twitter}
          hr
          p
            | <a href="/nl/wie-ben-ik/">Stijn Debrouwere</a> werkt bij de Guardian in Londen. Deze blog handelt over programmeren en de toekomst van de journalistiek. Stijn is !{stdout.me.twitter} op Twitter.
            - if (meta.related)
              | Als je dit leuk vond, lees dan ook 
              a(href=meta.related.link)= meta.related.title

    block conversations
      #conversations.hide
        h4 Related conversations
        ul
          - each i in [1,2,3]
            li
              img(src='author-icon.jpg')
              img(src='author-icon.jpg')
              span Something of an unusual thing