extends posts.detail

block header
  header
    //- todo: split up titles with colons into h1 and h2
    time(pubdate, datetime=date.iso, title=date.human)= date.human
    h1.quote-title= title
    address.author
      - if (language == 'en')
        | quoted from 
      - else
        | citaat van 
      - if (author)
        +link-to-bio('author', author)

block article
  - if (context)
    .quote-explanation.hide
      hr
      h6.article-more In context
      p.article-more= context
      hr

  - if (html.length < 200)
    blockquote.punchline!= html
  - else
    blockquote!= html